<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommentMapper">
<!-- //최초 생성시에는 sql이 꼭 지워져있어야함. 여기가 비어있기 !! -->

<insert id="CommentMapper" parameterType="CommentDTO">

insert into commentDB (comid,postid,userid,comdate,comtext,abovecom)
values (comIdSeq.nextval, #{postid}, #{userid}, #{comdate}, #{comtext}, #{abovecom})

</insert>



<select id="SelectAll" resultType="CommentDTO">
select comid,postid,userid,comdate,comtext,abovecom from commentDB order by comid asc
</select>


<delete id="deleteComment" parameterType="int">

delete from commentDB where comid = #{comid}

</delete>


<select id="selectOne" parameterType="CommentDTO" resultType="int">

select comid from commentDB 
where postid = #{postid} and 
userid = #{userid} and 
comdate = #{comdate} 

</select>

<update id="updateComment"  parameterType="int">

update commentDB 
set comtext = '삭제된 댓글입니다.'
where comid = #{comid}

</update>




</mapper>